doctype html
html
  head
    title= title
    
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css')
    link(rel='stylesheet' href='https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    
    
  body
    block content
	
    script(src='https://code.jquery.com/jquery-3.5.1.js')         
    script(src='https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js')
		   
    script(src='script.js')
