extends layout

block content
  form(method='POST' action='#' name="loginForm" id="loginForm")
    div#login.container
      fieldset
        legend: strong.text-info Login page

        div.form-group
          label Username:
          input.form-control(name='username', value=username, autofocus)

        div.form-group
          label Password:
          input.form-control(name='password', type='password')

        div.form-actions
          div.row
            div.col-md-1
              input.btn.btn-primary(type='button', value='Login', onclick='submit_login()')
          div.row
            div.col-md-3 
              a.btn.btn-lg.btn-google.btn-block.text-uppercase.btn-outline(href='/auth/google')
                  img(src='https://img.icons8.com/color/16/000000/google-logo.png')
                  |  Login Using Google
       
  script
    include ../public/script2.js

